<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itravel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".ItravelApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Itravel"
        android:usesCleartextTraffic="true">

        <activity android:name=".RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminLoginActivity" android:exported="false"/>
        <activity android:name=".AdminPanelActivity" android:exported="false"/>
        <activity android:name=".AdminPlaceEditActivity" android:exported="false"/>

        <activity android:name=".DetailActivity" android:exported="false"/>
        <activity android:name=".PostActivity" android:exported="false"/>
        <activity android:name=".MapActivity" android:exported="false"/>
        <activity android:name=".RouteMapActivity" android:exported="false"/>
        <activity android:name=".CityFinderActivity" android:exported="false"/>
        <activity android:name=".EditProfileActivity" android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".ForgetPasswordActivity" android:exported="false"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwod06KMGwTUUckiiEUaHJnzBTTQ_28UM" />

        <activity android:name=".SplashScreenActivity" android:exported="false"/>
        <activity android:name=".HomeActivity" android:exported="false"/>
        <activity android:name=".PopularPlacesActivity" android:exported="false"/>
        <activity android:name=".CategoryPlacesActivity" android:exported="false"/>
        <activity android:name=".RegisterActivity" android:exported="false"/>
        <activity android:name=".LoginActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"/>

    </application>

</manifest>
